:root {
    --bck-clr_dark: hsl(233, 28%, 20%);
    --bck-clr_dark2: #0B0F19;
    --bck-clr_dark3: #565973;
    --bck-clr_dark4: hsla(229, 13%, 32%, 0.5);
    --bck-clr_bright: #ffffff;
    --bck-clr_gradient_main: linear-gradient(0deg, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    --bck-clr_primary: #6366F1;
    --clr-brand-border-gray: #E2E5F1;

    --clr-text-white: #ffffff;
    --clr-text-dark: #33354D;
    --clr-text-gray: hsl(234, 14%, 70%);
    
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    --container-padding: 1rem;
}

*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


/* @media (prefers-color-scheme: light) {
    :root {
        --bck-clr_dark: #ffffff;
        --bck-clr_dark2: #ffffff;
        --bck-clr_dark3: #ffffff;
        --clr-primary: #ffffff;
        --bck-clr_bright: #0B0F19;
        --clr-text-white: black;

    }
} */

html {
    color-scheme: dark;
    
}


.dark {  

}

.light {

    color: var(--bck-clr_dark2);
    --bck-clr_dark: hsl(0, 0%, 100%);
    --bck-clr_dark2: #ffffff;
    --bck-clr_dark3: #ffffff;
    --bck-clr_dark4: hsl(0, 0%, 100%);
    --bck-clr_bright: #000000;
    --bck-clr_gradient_main: #f1f1f1;
    --bck-clr_primary: #6366F1;
    --clr-brand-border-gray: #E2E5F1;

    --clr-text-white: #000000;
    --clr-text-dark: #000000;
    --clr-text-gray: hsl(0, 0%, 0%);
}

body {
    font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
    overflow-x: hidden;
  
}


  /* Navbar längst uppe */
.navbar-background {
    background: var(--bck-clr_dark);
    
    .navbar { 
        max-width: 100%;
        height: 4.5rem;
        
        padding-left: var(--container-padding);
        padding-right: var(--container-padding);
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: auto 1fr auto auto auto;
        justify-content: start;
        align-items: center;
        gap: 1.5rem;
        padding-inline: 10%;
    }
}

#solid {
    object-fit: contain;

}

#Feature {
    font-size: 1.2rem;
    
    padding: 0.5rem;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
}
#Feature a:hover {
    color: var(--clr-primary);
    text-decoration: underline;

}

.theme-text {
    color: var(--clr-text-gray);
}

.dark .theme-text {
    color: var(--clr-text-gray);
  }
  
  .light .theme-text {
    color: black;
  }


.toggle {
    margin-left: auto;
    justify-self: end;

    --_w: 80px;
    --_h: 30px;

    width: var(--_w);
    height: var(--_h);

    position: relative;
    display: inline-block;

    input[type="checkbox"] {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        inset: 0;
        background-color: var(--bck-clr_dark3);
        border-radius: 100vw;
        box-shadow: 0 0 3px hsla(0, 0%, 53%, 0.445);

        transition: ease-in 400ms;
        z-index: 1000;
    }
    
    .slider::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 30px;
        top: 0;
        left: 0;
        z-index: 1001;
        border-radius: 100vw;
        background-color: #0b0f19b7;
        box-shadow: 0 0 3px black;
        
        transition: ease-in 400ms;
    }
}

input[type="checkbox"]:checked + .slider {
    background-color: hsl(0, 0%, 75%);
    transition: ease-in 400ms;

}

input[type="checkbox"]:checked + .slider::before {
    left: calc(100% - var(--_h));
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 0 5px;
    transition: ease-in 400ms;
}

#sign-in-btn {
    padding: 0.7em 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #6366F1;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: 0.5s;
}

#sign-in-btn:hover {
 background-color: hsl(239, 84%, 57%);
}

#sign-in-btn:active {
 background-color: hsl(239, 77%, 90%);
}

@media (max-width: 768px) {
    

    .navbar-background .navbar {
        display: grid;
        grid-template-columns: 1fr auto auto ;
        padding-inline: 0%;
        padding-right: 5%;
    }
    #sign-in-btn {
        display: none;
        }
        #Feature {
            display: none;
        }
        .iphone12 {
            display: none;
        } 
        
        #brands {
            display: none;
        }
        #sidomobil {
            display: none;
        }
        .darkmode-text {
            display: none;
        }
        
        .theme-text {
            display: none
        }
        

    }

  /* Första delen av websidan (Manage All Your Money in One App)*/
.Header {
    width: 100%;
    height: auto;
    padding-bottom: 2rem;
    background: rgb(99, 102, 241);
    background: var(--bck-clr_gradient_main);
    
}

.text-card {
    display: grid;
    color: var(--clr-text-white);
    grid-template-rows: auto 1fr auto ;
    gap: 1rem;
}

.text-card .header1 {
    font-size: 2.5rem;

}

.text-card .subheader {
    font-size: 1.2rem;
    opacity: 0.7;
    margin-bottom: 2rem;
    text-align: center;
    
}
.market-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.more {
    margin-top: 1rem;
    justify-self: start;
    
}
.iphone-container {
 
}


/* Tagit hjälp från Chatgpt */
.navbar-background, .Header {
    background: var(--bck-clr_gradient_main);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0;
}

@media (max-width: 768px) {
    .Header {

    }
    .Header-content {

    }
    .text-card {
        text-align: center;
    }
    .more {
        padding-top: 2rem;
        width: 50%;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {

    .Header-content {
        width: auto;
        height: 876px;
        padding-inline: 20rem;
        display: flex;    
    }
    .text-card {
        padding-top: 10rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        max-width: 500px;
        height: 30vh;
    }

    .header1 {
        text-align: left;
        width: 80%;
    }
    .text-card .subheader {
        margin-bottom: 3rem;
        text-align: left;
    }
    .market-btns {
        display: flex;
        justify-content: left;
    }
    .market-btns img {
        max-width: 400px;
    }
    .more {
        margin-top: 50%;
    }
    #Button-Mobil-bright {
        display: none;
    }
    .iphone-container {
        height: 876px;
        width: 750px; 
    }
    .iphone12 :nth-last-of-type(1){
        transform: scale(1);
        position: absolute;
        z-index: 1;
        transform: translate(50%, 64.5%);
    }
    .iphone12 :nth-last-of-type(2){
        transform: scale(1);
        position: absolute;
        z-index: 2;
        transform: translate(120%, 32.5%);
    }
}

/* Brands under första delen av websidan */
.brand-box {
    border: 1px solid var(--clr-brand-border-gray);
    border-radius: 8px;
    height: 100px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (width: 992px) {
    .navbar {
        max-width: 730px;
    }
    #Button-Mobil-bright {
        display: none;
    }
    #brand-1, #brand-2 {
        display: none;
    }    
    
}

@media (min-width: 1400px) {
    #brands {
        width: 100%;
        background-color: var(--bck-clr_dark2);
        padding-top: 5rem;

        .brands-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1.5rem;
            margin-inline: 10rem;
        }
    
    }
}
/* Andra delen till websidan (App Feature) */

.feature-header {
    background-color: var(--bck-clr_dark2);
    width: auto;
    height: auto;
    padding-top: 8rem;
    padding-inline: 14rem;
}
    
    .feature-container {
        display: flex;
        gap: 10rem;
    }

    .feature-description {
        display: grid;
        width: 35vw;
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, auto); 
        gap: 1.5rem;
        margin: 4rem;
    }
  
     .feature-text {
        grid-column: 1 / -1;
        box-sizing: border-box;
        font-size: 2rem;
        width: 30vw;
        p {
            padding-top: 1rem;
        }
    }

    .feature-text h1 {
        color: var(--bck-clr_bright)
    }
    
    .feature-box {
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: 2rem;
    }
    
    .icon-box {
        width: 60px;
        height: 60px;
        border: solid 1px var(--bck-clr_dark);
        background-color: var(--bck-clr_dark);
        border-radius: 8px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        box-sizing: border-box;
        transform: translate(-130%);
    }

    .feature-icon{
        width: auto;
        height: auto;
        position: relative;
    }


    .feature-header h2 {
        font-size: 1.25rem;
        color: var(--bck-clr_bright);
    }

    .feature-header p {
        font-size: 1rem;
        font-weight: 300;
        color: var(--clr-text-gray);
    }

    .feature-container {
        justify-content: center;
    }

    

    @media (max-width: 768px) {

        .feature-header {
            padding-inline: 0rem;
            padding-top: 0rem;
        }
        .feature-container {
            
        }
        .feature-text {
            text-align: center;
            margin-bottom: 0rem;
            width: 100%;
            
            .feature-text, p {
                margin: 1rem -2rem 0rem -2rem;
            }
        }
        .feature-description {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            margin: 2.5rem;
            
            
        }
        .feature-box {
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin-left: 2rem;
            
        }
        
    }

    /* Tredje delen av websidan (How Does It Work?)*/
    .work {
        background-color: var(--bck-clr_dark);
        padding-top: 4rem;
    }
    .work-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .work-wrapper h3 {
        color: var(--bck-clr_bright);
        width: 100%;
        height: auto;

    }
    .work-headline {
    font-size: 3rem;
    margin-bottom: 4rem;
    }
    .iphone-bilder {
        display: flex;
        gap: 6rem;
    }


    .transaction-container {
        width: 640px;
        text-align: center;
        margin-bottom: 4rem;
        
        p {
            color: var(--clr-text-gray);
        }
    }
    
    #transaction-1 {
        font-size: 2rem;
        margin-top: 4rem;
        text-align: center;
        margin-bottom: 1.5rem;
    }
    #transaction-2 {
        display: none;
    }

    @media (max-width: 768px) {
        
        .work-headline {
            font-size: 2rem;
            text-align: center;
            
        }
        
        #iphonework {
            display: none;
        }

        .transaction-container {
            width: 100vw;
            text-align: center;
            margin-bottom: 4rem;
        }
        
        #transaction-1 {
            display: none;
        }
        
        #transaction-2 {
            display: block;
            font-size: 2rem;
            margin-top: 2rem;
            text-align: center;
            margin-bottom: 1rem;
        }
        
        .payment, .payment-2 {
            display: none;
        }
        
    }
      
 /* Fjärde delen av websidan (Make your money transfer simple and clear) & (Receive payment from international bank details) */
    .payment {
        background-color: var(--bck-clr_dark2);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding-top: 8rem;
    }

    /* Checkmark gjort med border-width.
    .checkmark {
        display: inline-block;
        width: 1.5rem;
        height: 1.5rem;
        border: 2px solid var(--clr-primary);
        border-radius: 100%;
        position: relative;
    }
    
    .checkmark::after {
        content: '';
        display: block;
        width: 8px;
        height: 16px;
        border: solid var(--clr-primary);
        border-width: 0 3px 3px 0;
        position: absolute;
        top: 2px;
        left: 7px;
        transform: rotate(45deg);
    } */


    .info-container-1 {
        color: var(--bck-clr_bright);
        display: flex;
        width: 1090px;
    }

    .info-text {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        max-width: 500px;
    }

    .headline-info {
        font-size: 2rem;
    }
    
    .paragraph-info{
        color: var(--clr-text-gray);
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
    }

    .paragraph-info img {
        width: 2rem;
        height: auto;
    }

    .p-line {
        display: flex;
    }

    #graf {
        margin-left: auto;
    }

    .learn-more {

        max-width: 170px;
        height: auto;
     padding: 0.7em 2.5em;
    border-radius: 0.5em;
    border: none;
    background-color: #6366F1;
    color: #FFFFFF;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    cursor: pointer;
    transition: 0.5s;
    
    &:hover {
        background-color: hsl(239, 84%, 57%);
    }
    
    &:active {
        background-color: hsl(239, 77%, 90%);
    }
    
}

.learn-more .vector {
    margin: 0.5em;
    height: 1.5em;
    width: auto;
}

.payment-2{
    background-color: var(--bck-clr_dark2);
    width: 100vw;
}

.info-container-2 {
    color: var(--bck-clr_bright);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-grid-2 {
    max-width: 530px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:"headline-info-2 headline-info-2"
                        "icon-container-1 icon-container-2"
                        "learn-more-2 learn-more-2";
    gap: 3rem;
    
}

.headline-info-2 {
    font-size: 1.5rem;
    grid-area: headline-info-2;
}

.icon-container-1 {
    grid-area: icon-container-1;
    color: var(--clr-text-gray);
}
.icon-container-2 {
    grid-area: icon-container-2;
    color: var(--clr-text-gray);
}



#icon-container img {
    border: solid 1px var(--bck-clr_dark);
        background-color: var(--bck-clr_dark);
        border-radius: 8px;
        padding: 10px;
        box-sizing: border-box;
}


#learn-more-2 {
    grid-area: learn-more-2;
    padding: 0.5rem;
}


.info-grid-2 p {
    max-width: 250px;
}

@media (max-width: 768px) {
    .payment, .payment-2 {
        display: none;
    }
}
/* Femte delen av Websidan (Clients are Loving Our App)*/
.review {
    background-color: var(--bck-clr_dark);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;

}

.review-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: var(--bck-clr_bright);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1400px;
    gap: 1.5rem;
    
}

.review-header {
    font-size: 2rem;
    max-width: 310px;
}

.review-box {
    max-width: 420px;
    background-color: var(--bck-clr_dark4);
    border-radius: 8px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding-inline: 1.5rem;
    padding-bottom: 1.5rem;
}

#review-text {
    color: var(--clr-text-gray);
}

.quotes {
    transform: translate(0%, -5%);
    margin-top: -2rem;
}

.review-id {
    display: grid;
    grid-template-areas:"person namn"
                        "person job" ;
}

.person {
    grid-area: person;
    display: block;
    height: 50px;
    max-width: 50px;
}

.star-rating {
    display: flex;
}

.namn {
    grid-area: namn;
    color: var(--bck-clr_bright);
}

.job {
    grid-area: job;
}

.job {
    color: var(--clr-text-gray)
}

.review-id .namn, .review-id .job {
    margin-right: 8vw;  
}

@media (max-width: 768px) {
    .review {
        display: none;
    }

}

/*Sjätte delen av websidan (Any questions? Check out the FAQs)  */

.FAQ {
    background-color: var(--bck-clr_dark2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.FAQ-container {
    max-width: 40vw;
    padding-top: 4rem;
    padding-bottom: 4rem;
    display: grid;
    gap: 3rem;
    grid-template-areas:"FAQ FAQ"
                        "Call Message";
}

.contact-container {
    border: solid 1px;
    border-radius: 8px;
    width: 14em;
    height: 12em;
    justify-content: space-between;
    padding: 2rem 0 2rem 1rem;
}

.contact-text {
    color: var(--bck-clr_bright);
    font-size: 1.8rem;
    grid-area: FAQ;
    max-width: 500px;
    p {
        color: var(--clr-text-gray);
        font-size: 1.3rem;
        margin-top: 3rem;
    }
}

#call {
    grid-area: Call;
    color: var(--clr-text-gray);
    display: flex;
    flex-direction: column;
    
    img {
        max-width: 15%;
        height: auto;
        object-fit: contain;
    }

    a {
        color: var(--bck-clr_primary);
        text-decoration: none;
    }
}

#message {
    grid-area: Message;
    color: var(--clr-text-gray);
    display: flex;
    flex-direction: column;

    img {
        max-width: 15%;
        height: auto;
        object-fit: contain;
    }

    a {
        color: rgb(0, 170, 0);
        text-decoration: none;
    }
}

.accordion {
    margin-left: 8rem;
    padding: 5rem;
}

.accordion-mobile {
    display: none;
}

.btn-contact {
    display: none;
}

@media (max-width: 768px) {


    
    .FAQ-container {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        
    }
    .contact-text {
        padding-inline: 2rem;
        text-align: center;
    }
    
    
    .accordion-mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    

    #call { 
        display: none;
    }

    #message {
        display: none;
    }

    .accordion {
        display: none;
    }

    .btn-container {
        display: block;
        align-self: center;
        
    }

    .btn-contact {
        display: block;
        padding: 1em 2.5em;
    }
}

.subscribe-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bck-clr_dark2);
    width: 100%;
    height: auto;

}

.subscribe-container {
    background-color:var(--bck-clr_dark4);
   display: flex;
   justify-content: center;
   align-items: center;
   border: solid var(--bck-clr_grey) 1px;
   padding: 3.5rem 2.5em 3.5em ;
   border-radius: 8px;
   max-width: 1300px;
   width: 100%;
   gap: 5rem;
   
}

.sub-text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25vw;
    gap: 1rem;
    font-size: 1.2rem;
}

.input-container {
    display: flex;
}

.form-input {
    background-color: var(--bck-clr_dark4);
    padding: 0 7em 0 0;
    border: solid 1px var(--bck-clr_dark3);
    border-radius: 8px 0px 0px 8px;
    font-size: 1rem;
    z-index: 5;
}

.form-invalid {
    border: solid 2px firebrick;
}

.sub-knapp {
    background-color: var(--bck-clr_primary);
    color: var(--bck-clr_bright);
    padding: 1em 2.5em ;
    border-radius: 0 8px 8px 0;
    border: 0;
    box-shadow: 0 0 3px black;
    font-size: 1rem;
    font-weight: 500;

    transition: ease-in 400ms;

    &:hover {
        cursor: pointer;
        transition: ease-in 300ms;
        background-color: hsl(239, 84%, 77%);

    }

    &:active {
        transition: 100ms;
        background-color: #6366F1;
    }

}


.form-input {
    position: relative;
}

.envelope {
    z-index: 6;
    position: absolute;
    transform: translate(50%, 75%);
}

.email {

    padding-left: 2rem;
}

@media (max-width: 768px) {
    .subscribe-section {
       
    }

    .subscribe-container {
        flex-direction: column;
        padding-inline: 2rem;
        box-sizing: border-box;
    }

    .sub-text {
        width: 100%;
    }

    .form-input {
        padding: 0 2rem 0 0;
        text-indent: 2.5rem

    }

    .input-container {
        width: 100%;
    }
}

/* Credit sista delen av websidan */
footer {
    font-size: 14px;
    
    
}

.footer_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    gap: 5px;
    background-color: var(--bck-clr_dark2);
    color: var(--clr-text-gray);
}


@media (max-width: 768px) {

    .footer_container {
        display: block;
        text-align: center;
    }
}