body {
    background-color: rgb(104, 64, 104);
}
.test {
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    background-color: red;
    
}

.Text {
    display: none;
}

@media (min-width: 768px) {
    body {
        background-color: rgb(41, 175, 34);
    }
    
    .Text {
        display: contents;
    }
}

/* @media (hover: hover) {
    .test {
        background-color: pink;
    }
    
} */